<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<!--<script>-->
  <!--var _gaq = _gaq || [];-->
  <!--var pluginUrl =-->
 <!--'//www.google-analytics.com/plugins/ga/inpage_linkid.js';-->
  <!--_gaq.push(['_require', 'inpage_linkid', pluginUrl]);-->
  <!--_gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);-->
  <!--_gaq.push(['_trackPageview']);-->

  <!--(function() {-->
    <!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
    <!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
    <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
  <!--})();-->
<!--</script>-->
<!--<script type="text/javascript">var switchTo5x=true;</script>-->
<!--<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>-->
<!--<script type="text/javascript">stLight.options({-->
  <!--publisher: "c600772f-c6ac-4582-8682-8e12ea177702",-->
  <!--onhover:false, doNotHash:true, doNotCopy:true, hashAddressBar:false-->
<!--});-->
<!--</script>-->
  
{% endif %}
{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
